body {
  background-image: url("../images/weather.jpg");
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  font-size: 32px;
  font-weight: 650;
}
ul {
  font-size: 18px;
  font-weight: 450;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

#description {
  text-transform: capitalize;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  border: solid 2px #385170;
  border-radius: 30px;
  padding: 20px;
  margin-top: 100px;
  max-width: 600px;
  min-width: 600px;
  background-color: lightcyan;
  transition: background-color 0.3s;
}

.wrapper.clicked {
  background-color: lightyellow;
}

.search {
  background-color: #9fd3c7;
}

.current {
  background-color: green;
}
.search,
.current {
  border-radius: 3px;
  border: none;
  padding: 2px;
  line-height: 2;
  min-width: 70px;
  font-weight: 450;
}
.search:hover {
  cursor: pointer;
}

input {
  border-radius: 3px;
}
.city {
  border: solid 1px gray;
  max-width: 450px;
  outline: none;
  padding-left: 10px;
  min-width: 400px;
  line-height: 2;
}
.city:hover {
  border: solid 2px #9fd3c7;
}
h1 {
  margin-top: 10px;
  margin-bottom: 0;
}

span.emoji,
span.temperature {
  font-size: 60px;
}

span.temperature {
  position: relative;
  top: 16px;
}

#weatherForecast {
  background-color: #9fd3c7;
  max-width: 600px;
  min-width: 500px;
  text-align: center;
  padding: 20px;
  border: solid 2px#385170;
  border-radius: 30px;
}

#ctemp,
#ftemp {
  position: relative;
  top: 34px;
  left: -26px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

#divider {
  position: relative;
  top: 34px;
  left: -26px;
  font-size: 20px;
}

.weatherinfo {
  list-style: none;
  font-size: 16px;
  position: relative;
  top: 38px;
  left: -100px;
}

p.footer {
  text-align: center;
  font-weight: 600;
}

.link {
  color: white;
}

#icon {
  animation: updown 3s ease infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-3%);
  }

  50% {
    transform: translateY(5%);
  }

  100% {
    transform: translateY(-3%);
  }
}
a.active {
  cursor: default;
  color: #9fd3c7;
}

div.col-2 {
  margin: 7px;
  padding: 2px;
}

.weather-forecast-temp,
.weather-forecast-date {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}
.weather-forecast-temp {
  margin-inline-start: 22px;
}

.weather-forecast-date {
  margin-inline-start: 10px;
}

.min-temp {
  opacity: 0.5;
}
